.sidebar {
  flex: 1;
  border-right: 2.5px solid rgb(99, 75, 47);
  min-height: 100vh;
  background-color: rgb(36, 36, 36);

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 25px;
      font-weight: bold;
      color: rgb(221, 161, 93);
    }
  }

  hr {
    height: 0;
    border: 0.5px solid rgb(99, 75, 47);
  }

  .center {
    padding-left: 10px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-size: 10px;
        font-weight: bold;
        color: #dddddd;
        margin-top: 20px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;

        &:hover {
          background-color: #2b2b2b;
        }

        .icon {
          font-size: 20px;
          color: rgb(221, 161, 93);
        }

        span{
            font-size: 15px;
            font-weight: 600;
            color: #ffffff;
            margin-left: 10px;
        }
      }
    }
  }

  .bottom{
      display: flex;
      align-items: center;
      margin: 15px;

      .colorOption{
          width: 20px;
          height: 20px;
          border-radius: 5px;
          border: 1px solid #7451f8;
          cursor: pointer;
          margin: 5px;

          &:nth-child(1){
              background-color: whitesmoke;
          }
          &:nth-child(2){
              background-color: #333;
          }
      }
  }
}
